<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SERVERPersona</servlet-name>
        <servlet-class>Controlador.SERVERPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVERUsuario</servlet-name>
        <servlet-class>Controlador.SERVERUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVERTienda</servlet-name>
        <servlet-class>Controlador.SERVERTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVERAlmacen</servlet-name>
        <servlet-class>Controlador.SERVERAlmacen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVERPersona</servlet-name>
        <url-pattern>/serverpersona.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVERUsuario</servlet-name>
        <url-pattern>/serverusuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVERTienda</servlet-name>
        <url-pattern>/servertienda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVERAlmacen</servlet-name>
        <url-pattern>/serveralmacen.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
